<h1>Currently teaching</h1>

<br>
<mat-accordion class="example-headers-align" multi
>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        2022-2023
      </mat-panel-title>

    </mat-expansion-panel-header>

    <div class="materii">
      <mat-card  class="feature" routerLink="lesson">Databases</mat-card>
      <mat-card class="feature">E-learning</mat-card>
      <mat-card class="feature">Web Programming</mat-card>
      <mat-card class="feature">Web technologies</mat-card>
    </div>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        2021-2022
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="materii">
      <mat-card class="feature" routerLink="lessons">Databases</mat-card>
      <mat-card class="feature" routerLink="add-quiz">E-learning</mat-card>
      <mat-card class="feature" routerLink="quiz-results">Web Programming</mat-card>
      <mat-card class="feature" routerLink="add-grade-to-students">Web technologies</mat-card>
    </div>
  </mat-expansion-panel>

</mat-accordion>
