<mat-accordion class="example-headers-align" multi
>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Email
      </mat-panel-title>
      <mat-panel-description>
        My Email
        <mat-icon>alternate_email</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <b>alexandra.baluta[at]ubbcluj.ro</b>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Current office
      </mat-panel-title>
      <mat-panel-description>
        You can find me @
        <mat-icon> location_on</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <b>Office No. 406, Teodor Mihali Street (former Nicolae Pascaly Street), No.58-60, 400591, Cluj Napoca, Romania</b>
  </mat-expansion-panel>
</mat-accordion>

