
<!-- Toolbar -->
<mat-toolbar color="accent" class="header">
  <mat-toolbar-row>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
    <div>Alexandra Baluta</div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
               [fixedTopGap]>
    <mat-nav-list>
      <a routerLink="/home" mat-list-item>
        <mat-icon>dashboard</mat-icon> Home Page
      </a>

      <a routerLink="/infopage" mat-list-item>
        <mat-icon>person</mat-icon> Personal Info Page
      </a>
      <a routerLink="/contact" mat-list-item>
        <mat-icon>person</mat-icon> Contact page
      </a>
      <a routerLink="/teaching" mat-list-item>
        <mat-icon>library_books</mat-icon> Teaching
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="accent" class="footer">
  <mat-toolbar-row>
    <div style="margin:0 auto;" class="mat-caption">Designed by Alexandra Baluta.</div>
  </mat-toolbar-row>
</mat-toolbar>
