<h1>Primary Key</h1>

<p>A primary key is a special relational database table column (or combination of columns) designated to uniquely identify each table record.
</p>
 <p> <b>A primary key is used as a unique identifier</b> to quickly parse data within the table. A table cannot have more than one primary key.
</p>
<b>A primary key’s main features are: </b>
<br>
<div>
  <br>
  <p class="div-1"><b>It must contain a unique value for each row of data.</b></p>
  <p class="div-1"><b>It cannot contain null values.</b></p>
  <p class="div-1"><b>Every row must have a primary key value.</b></p>
  <p class="div-1"><b>A primary key might use one or more fields already present in the underlying data model, or a specific extra field can be created to be the primary key.</b> </p>
</div>
<h2>Techopedia Explains Primary Key</h2>
 <p>The primary key concept is critical to an efficient relational database.</p>
<p>Without the primary key and closely related foreign key concepts, relational databases would not work. </p>

<p> In fact, since a table can easily contain thousands of records (including duplicates), a primary key is necessary to ensure that a table record can always be uniquely identified.</p>

<p>All keys that come from real-world observables and attributes are called natural primary keys, as opposed to surrogate primary keys that are, instead, arbitrarily assigned to each record. </p>

 <p> Almost all individuals deal with natural primary keys frequently but unknowingly in everyday life.</p>

 <p> For example, students are routinely assigned unique identification (ID) numbers, and all U.S. citizens have government-assigned and uniquely identifiable Social Security numbers. Street addresses or driver license numbers are examples of primary keys used to uniquely identify (respectively) locations or cars.

  As another example, a database must hold all of the data stored by a commercial bank. Two of the database tables include the CUSTOMER_MASTER, which stores basic and static customer data (name, date of birth, address, Social Security number, etc.) and the ACCOUNTS_MASTER, which stores various bank account data (account creation date, account type, withdrawal limits or corresponding account information, etc.).

  To uniquely identify customers, a column or combination of columns is selected to guarantee that two customers never have the same unique value. </p>

 <b> A good primary key candidate is the column that is designated to hold Social Security numbers. </b>
