<h1>Home page</h1>
<!--<mat-card class="demo-inline-calendar-card">-->
<!--  <mat-calendar [(selected)]="selected"></mat-calendar>-->
<!--</mat-card>-->
<br>
<mat-card class="example-card">
  <mat-card-header class="header">
    <mat-card-title-group>
    <mat-card-title class="title">Alexandra Baluta</mat-card-title>
    <mat-card-subtitle>Teacher</mat-card-subtitle>
      <img class="img" src="../../assets/cv.jpg">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>

      <h1>Department of Computer Science</h1>
        <h1>Faculty of Mathematics and Computer Science</h1>
    <h1>Babes-Bolyai University of Cluj-Napoca</h1>

    <mat-selection-list>
      <h2 class="materie">Databases</h2>
    </mat-selection-list>
    <mat-selection-list>
      <h2 class="materie">E-learning</h2>
    </mat-selection-list>
    <mat-selection-list>
      <h2 class="materie">Web programming</h2>
    </mat-selection-list>
    <mat-selection-list>
     <h2 class="materie"> Web technologies</h2>
    </mat-selection-list>
  </mat-card-content>
</mat-card>


